

extends ../shared/layout
block main-content
    body(background='/public/img/portfolio/thumbnails/4.jpg')
        .panel.panel-default.container.form-horizontal
                h2 Username: #{data.user.username}
                h3 Email: #{data.user.email}
                h4 Favorite sport: #{data.user.favoriteSport}
                h4 First name:#{data.user.firstName}
                h4 Last name: #{data.user.lastName}