//
   Created by petio on 6.1.2017
extends ../shared/layout
block main-content
    script(src = "/public/detail.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body(background='/public/img/portfolio/thumbnails/4.jpg')
        .panel.panel-default.container.form-horizontal
            h2 title: #{event.title}
            h3 Description: #{event.description}
            h4 Location: #{event.location}
            h4 Sport:#{event.sport}
            h4 Date: #{event.date}
            h4 Start : #{event.startTime}
            .container
                // Trigger the modal with a button
                button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal', style= "float:right") Members
                #myModal.modal.fade(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Members
                            .modal-body
                                each member in event.members
                                    a(href = "/profile/#{member}") #{member}
                                    br
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close

            p
                | &created by #{event.creator}

            if currentUser.username == event.creator
                a(href="/events/edit/#{event.id}",class= 'btn btn-lg btn-info',style= "float:right") edit
                br
                br
                br
                a(id = event._id,class= 'btn btn-lg btn-primary',style= "float:right") delete

            else
                if (event.members.indexOf(currentUser.username) > -1)
                    a(id = event._id,class = "btn  btn-lg btn-warning", style= "float:right") leave
                else
                    a(id = event._id,class = "btn btn-lg btn-success",style= "float:right") Join
            form(method='POST',action='/events/addComment')
                input(type="hidden" name="id" value="#{event._id}")
                input(id="comment"  class="form-control" type="text" name="comment" placeholder="Comment")
                input(type="submit" class="btn btn-lg btn-primary" value="Send")
            each comment in event.comments.reverse()
                .alert.alert-info
                    a(href = "/profile/#{comment.username}") #{comment.username}
                    strong : #{comment.content}




