//
   Created by petio on 14.1.2017 г..
extends ../shared/layout

block main-content
    form(method='POST')
        label(for="title") Title
            input(id="title" class="form-control" type="text" name="title" value="#{event.title}")
            br
            label(for="description") Description
            input(id="description" class="form-control" type="text" name="description" value="#{event.title}")
            br
            label(for="sport") Sport
            select(id="sport" class="form-control" name="sport")
                each sport in sports
                    option(value="#{sport}") #{sport}
            br
            label(for="location") Location
            input(id="location" class="form-control" type="text" name="location" value="#{event.location}")
            br
            input(type="submit" class="btn btn-lg" value="Edit")